@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&family=Kenia&family=MedievalSharp&family=Montserrat:ital,wght@1,500&family=Playpen+Sans:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&family=Kenia&family=MedievalSharp&family=Montserrat:ital,wght@1,500&family=Playpen+Sans:wght@200&family=Roboto:wght@300;500&display=swap');

* {
    box-sizing: border-box;
}

body {
    overflow: hidden;
    font-family: 'MedievalSharp', cursive;
}

/* backimg */
.aragorn::before,
.balrog::before,
.frodonsam::before,
.gandolf::before,
.gimli::before,
.legolas::before,
.nasgul::before,
.sauron::before,
.smygol::before {
    content: '';
    background-size: cover;
    background-position: center;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    opacity: 0.3;
}

.aragorn::before {
    background-image: url(../lotr2-jpg/aragorn2.jpg.jpg);
}

.balrog::before {
    background-image: url(../lotr2-jpg/baltrog2.jpg.jpg);
}

.frodonsam::before {
    background-image: url(../lotr2-jpg/frodnsam.jpg.jpg);
}

.gandolf::before {
    background-image: url(../lotr2-jpg/262860.jpg);
}

.gimli::before {
    background-image: url(../lotr2-jpg/gimli2jpg.jpg);
}

.legolas::before {
    background-image: url(../lotr2-jpg/legolas2.jpg.jpg);

}

.nasgul::before {
    background-image: url(../lotr2-jpg/nasgul2.jpg.jpg);
}

.sauron::before {
    background-image: url(../lotr2-jpg/sauron2.jpg.jpg);

}

.smygol::before {
    background-image: url(../lotr2-jpg/smygol2.jpg.jpg);
}

/* backimg */
/* tekstas */
.tekstas {
    width: 70vw;
    height: 20vw;
    font-size: 30px;
    position: relative;
    left: 10vw;
    top: 200px;
    font-family: 'Montserrat', sans-serif;
    letter-spacing: 3px;
    line-height: 40px;
    text-align: justify;

}

.tekstassauronas {
    width: 70vw;
    height: 20vw;
    font-size: 18px;
    position: relative;
    left: 10vw;
    top: 5vw;
    font-family: 'Montserrat', sans-serif;
    letter-spacing: 3px;
    line-height: 40px;
    text-align: justify;

}

/* tekstas */
/* pavadinimas */
h1 {
    text-align: center;
    font-size: 80px;
    position: relative;
    top: 80px;
    padding: 0;
    margin: 0;
    color: #556B2F;
}

/* pavadinimas */
/* mygtukai */
.click,
.atgal {
    display: inline-block;
    position: relative;
    border: 3px solid white;
    border-radius: 3%;
    width: 200px;
    height: 70px;
    text-align: center;
    font-size: 50px;
    line-height: 80px;
}

.click {
    float: right;
    right: 300px;
}

.atgal {
    float: left;
    left: 300px;
}

a {
    text-decoration: none;
    color: #556B2F;
}

/* mygtukai */