@font-face {
    font-family: roboto;
    src: url(../jpg-icons/Roboto-Light.ttf);
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
}

body {
    height: 7800px;
    overflow-x: hidden;
}

/* top menu */
.image h1 {
    font-size: 20px;
}

.image p {
    font-size: 10px;
    text-align: right;
}

/* search */
input[type="search"],
button[type="submit"] {
    position: absolute;
    bottom: 0;
    left: 220px;
    height: 30px;
    font-size: 20px;
    background-color: white;
    font-family: roboto;
}

input[type="search"] {
    width: 300px;
    font-family: roboto;
    outline: none;
    border: 0;
}

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
    display: none;
}


button[type="submit"] {
    cursor: pointer;
    left: 180px;
    border: 0;
}

/* search */

.top-menu {
    margin: 40px;
    padding: 0;
    display: flex;
    height: 50px;
    position: relative;
}

.nav {
    position: absolute;
    display: flex;
    right: 0;
    left: 600px;
    top: 0;
    bottom: 0;
}

a[href^="1"],
a[href^="2"],
a[href^="#"],
.burger,
ul {
    position: absolute;
    right: 490px;
    top: 0;
    bottom: 0;
    margin: 10px auto;
    font-size: 15px;
    text-decoration: none;
    color: black;

}

a[href^="#"] {
    right: 30px;
    background-size: contain;
}

a[href^="1"] {
    font-size: 20px;
}

a[href^="2"] {
    right: 310px;
    font-size: 20px;
}

/* judejimaspuslapyje */
@media only screen and (max-width: 1100px) {

    ul,
    a[href^="2"],
    a[href^="1"],
    .labelbooks {
        display: none;
    }
}

@media only screen and (min-width: 1100px) {

    .label1 {
        display: none;
    }
}

@media only screen and (max-width: 1100px) {

    input[type="search"] {
        top: 50px;
        left: 30px;
    }
}

@media only screen and (max-width: 1100px) {

    button[type="submit"] {
        top: 50px;
        left: 0px;
    }
}

/* judejimaspuslapyje */


ul {
    right: 170px;
}

ul li {
    display: inline;
    margin: 10px;
}

/* top menu */