* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
}

.burger {
    width: 30px;
    height: 4px;
    background-color: black;
    border-radius: 3px;
    position: absolute;
    top: 0px;
    padding: 0;
    right: 0;
    left: 0px;
    bottom: 0;
}

.burger::before {
    content: '';
    position: absolute;
    width: 30px;
    padding: 0;
    height: 4px;
    background-color: black;
    border-radius: 3px;
    top: -10px
}

.burger::after {
    content: '';
    width: 30px;
    padding: 0;
    height: 4px;
    background-color: black;
    border-radius: 3px;
    top: 10px;
    position: absolute;
}

.label1 {
    top: 55px;
    bottom: 0;
    position: absolute;
    cursor: pointer;
    width: 30px;
    height: 30px;
    right: 120px;
    z-index: 1;
}

/* bergerisfunkcija */
/*menu display*/
.sidemenu {
    position: absolute;
    background-color: black;
    color: white;
    height: 100vh;
    top: 0;
    left: 0;
    width: 300px;
    transform: translateX(-300px);
    transition: transform 0.5s ease-in-out;
    z-index: 44;
}

input:checked+.sidemenu {
    transform: translateX(0);
}

input[type=checkbox] {
    display: none;
}

.imgside {
    left: 20px;
    top: 30px;
    position: absolute;
    display: flex;
    color: white;
}

.imgside h1 {
    font-size: 20px;
}

.imgside p {
    font-size: 10px;
    text-align: right;
}

.sidemenu ul {
    display: flex;
    flex-direction: column;
    position: absolute;
    color: white;
    top: 100px;
    left: 20px;
    width: 250px;
    height: 120px;
    border-bottom: 1px solid white;
    border-top: 1px solid white;
    margin: 0;
}

.sidemenu ul li a {
    color: white;
    text-decoration: none;
}

input[type="searchside"],
button[type="submitside"] {
    position: absolute;
    height: 30px;
    top: 260px;
    left: 50px;
    border: 0;
    color: white;
    background-color: black;
    font-size: 17px;
    font-family: roboto;
}

button[type="submitside"] {
    left: 26px;
    cursor: pointer;
}

ol {
    display: flex;
    position: absolute;
    top: 330px;
    left: 20px;
}

ol a {
    margin: 10px;
    color: white;
    text-decoration: 0;
}

/*menu display*/

/* sidemenu */