body {
    margin: 0;
    padding: 0;
    width: 100vw;
    box-sizing: border-box;
    height: 1000vh;
    overflow-x: hidden;
}

.top-menu {
    margin: 40px;
    padding: 0;
    display: flex;
    height: 100px;
    border: 3px solid black;
    box-sizing: border-box;
    position: relative;
}

.nav {
    position: absolute;
    display: flex;
    right: 0;
    left: 600px;
    top: 0;
    bottom: 0;
    box-sizing: border-box;
}

a[href^="#"] {
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    margin: 40px 20px 40px 20px;
    font-size: 15px;
    text-decoration: none;
    box-sizing: border-box;
}

.burger {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 70px;
    padding: 0;
    font-size: 15px;
    margin: 40px 10px 40px 20px;
}

ul {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 110px;
    padding: 0;
    font-size: 15px;
    margin: 40px 10px 40px 20px;
}

ul li {
    display: inline;
    margin: 10px;
}