@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&family=Kenia&family=MedievalSharp&family=Montserrat:ital,wght@1,500&family=Playpen+Sans:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&family=Kenia&family=MedievalSharp&family=Montserrat:ital,wght@1,500&family=Playpen+Sans:wght@200&family=Roboto:wght@300;500&display=swap');

* {
    box-sizing: border-box;
}

body {
    overflow: hidden;
    font-family: 'MedievalSharp', cursive;
    margin: 0;
    padding: 0;
}

/* pavadinimas */
h1 {
    text-align: center;
    font-size: 80px;
    position: relative;
    top: 2vw;
    padding: 0;
    margin: 0;
    color: #556B2F;
}

/* pavadinimas */

/* backimg */
.aragornas,
.balrog,
.frodnsam,
.gandalf,
.gimli,
.legolas,
.nasgul,
.sauron,
.smygol {
    background-color: #fefae0;
    margin: 0;
    padding: 0;
}
/* backimg */
/* koreliuimg */
.aragornas2,
.balrog2,
.frodnsam2,
.gandolf2,
.gimli2,
.legolas2,
.nasgul2,
.sauron2,
.smygol2 {
    position: relative;
    width: 30vw;
    height: 30vw;
    left: 20vw;
    top: 8vw;
    background-size: cover;
    background-position: center;
    border-radius: 3%;
}
/* koreliuimg */
/* kerteliuaprasymas */
.aprasymas {
    position: relative;
    width: 30vw;
    height: 30vw;
    left: 50vw;
    bottom: 22.1vw;
    border-radius: 10px;
}

ul {
    font-size: 15px;
    font-family: 'Montserrat', sans-serif;
    letter-spacing: 3px;
    line-height: 30px;
}

span {
    font-size: 20px;
}/* kerteliuaprasymas */


/* koreliuimg */
.aragornas2 {
    background-image: url(../lotr2-jpg/aragorn2.jpg.jpg);
}

.balrog2 {
    background-image: url(../lotr2-jpg/baltrog2.jpg.jpg);
}

.frodnsam2 {
    background-image: url(../lotr2-jpg/frodnsam.jpg.jpg);
}

.gandolf2 {
    background-image: url(../lotr2-jpg/262860.jpg);
}

.gimli2 {
    background-image: url(../lotr2-jpg/gimli2jpg.jpg);
}

.legolas2 {
    background-image: url(../lotr2-jpg/legolas2.jpg.jpg);
}

.nasgul2 {
    background-image: url(../lotr2-jpg/nasgul2.jpg.jpg);
}

.sauron2 {
    background-image: url(../lotr2-jpg/sauron2.jpg.jpg);
}

.smygol2 {
    background-image: url(../lotr2-jpg/smygol2.jpg.jpg);
}

/* koreliuimg */
