* {
  box-sizing: border-box;
}

.create-form {
  width: 100%;
  position: relative;
  display: flex;
  justify-content: center;
  min-width: 1300px;
}

.create-form__container {
  background: #8e2de2;
  background: -webkit-linear-gradient(to right, #4a00e0, #8e2de2);
  background: linear-gradient(to right, #4a00e0, #8e2de2);
  font-family: monospace;
  display: grid;
  grid-auto-rows: 2rem;
  grid-row-gap: 1rem;
  width: 30%;
  padding: 3rem 0;
  margin-top: 3rem;
  border-radius: 10px;
}

.create-form input {
  width: 60%;
  border-radius: 8px;
  border: none;
  justify-self: center;
}

.create-form input:focus {
  outline: none;
  border: none;
  background: #f3f8ff;
}

.create-form button {
  background: #dc8686;
  color: white;
  font-family: monospace;
  font-weight: 600;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  width: 30%;
  height: 100%;
  justify-self: center;
  margin-top: 0.5rem;
}

.create-form button:hover {
  border: 0.3px solid black;
}

/*//////////////////*/

.bill-card {
  position: relative;
  width: 20%;
  background-color: #ebe3d5;
  border-radius: 10px;
  margin-left: 3rem;
  margin-top: 6rem;
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  padding: 3rem;
  overflow: hidden;
  min-width: 300px;
}

.bill-card__badge {
  position: absolute;
  top: 0;
  right: 0;
  margin: 0;
  font-size: 1rem;
  color: #fff;
  background-color: #ff5454;
  padding: 0.2rem;
  transform: rotateZ(45deg) translate(3.5rem, -3rem);
  transform-origin: center;
  width: 12rem;
  text-align: center;
}

.bill-card label {
  font-size: 1.3rem;
  font-family: monospace;
}

.bill-card input {
  width: 70%;
  border-radius: 3px;
  border: none;
}

.bill-card input:focus {
  outline: none;
  border: none;
  background: #f3f8ff;
}

.bill-card__btn {
  display: flex;
  height: 70px;
}

.bill-card__btn button {
  background: #dc8686;
  color: white;
  font-family: monospace;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  cursor: pointer;
  width: 70px;
  padding: 0.7rem;
  margin: 1rem;
  height: 40px;
}

.bill-card__btn button:hover {
  border: 0.3px solid black;
}

.modal {
  display: block;
  background-color: #282c3477;
}
